@model List<EventViewModel>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["InfoMessage"]
    </div>
}
<h2>My Events</h2>
<hr/>

@if (Model.Any())
{
    <div class="row">
        @foreach (var evt in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title">@evt.EventName</h5>
                    </div>
                    <div class="card-body">
                        <label class="card-text fw-bold me-2">Date: </label>
                        <p class="card-text">@evt.DateTime.ToString("yyyy-MM-dd HH:mm")</p>
                        <label class="card-text fw-bold me-2">Location: </label>
                        <p class="card-text">@evt.Location</p>
                        <label class="card-text fw-bold me-2">Location: </label>
                        <p class="card-text">@evt.ClubName</p>
                        <hr />
                        <p class="card-text">@(evt.Description?.Length > 100 ? evt.Description.Substring(0, 97) + "..." : evt.Description)</p>
                        @if (evt.IsOrganizer)
                        {
                            <a asp-action="ManageEvent" asp-route-id="@evt.EventID" class="btn btn-primary">Manage</a>
                        }
                        else if (evt.IsParticipant)
                        {
                            <a asp-action="EventDetails" asp-route-id="@evt.EventID" class="btn btn-info">View</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>You are not participating in any events yet.</p>
    <a asp-action="Index" class="btn btn-primary">Find Events</a>
}